.wrap{
    width: 1200px;
    margin: 100px auto ;
    padding: 20px 25px;

}
.btn{
    width: 350px;
    padding: 15px 50px;
    box-sizing: border-box;
    float: left;
    margin: 0 60px;
}
.btn-2{
    width: 400px;
    height: 950px;
    border: 1px solid #e8e8e8;
    border-radius: 55px;
    border-bottom-width: 10px;
    border-right-width: 10px;
    border-bottom-color: #d2d2d2;
    border-right-color: #d2d2d2;
    padding: 50px 70px;
    box-sizing: border-box;
    float: left;
    margin: 0 30px;
    line-height: 50px;
}
img{
    width: 250px;
    height: 150px;
}
.clear{
    clear: both;
}
h1{
    margin: 10px auto;
    padding: 5px 30px;
    color: #808080;
}
